.card {
    transition: all 0.20s ease-out;
    box-shadow: -8px 8px #e9ecef;
}

.card:hover {
    transform: scale(0.95);
    /* border: 8px solid #e9ecef; */
    box-shadow: 0 0 white;
}

/* .stretched-link {
    display: none;
} */
