{% extends "_layout.html" %}

{% block body %}
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://robohash.org/Robby?bgset=bg1" alt="Robby" style="width:100%">
        <div class="card-body">
            <h4 class="card-title text-center">Robby</h4>
            <p class="card-text text-justify">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea minus praesentium laborum vitae aspernatur, modi et necessitatibus, odio quis impedit distinctio dignissimos nostrum? Quisquam asperiores architecto quae corporis aut libero!</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
    </div>
{% endblock %}
